body{
    background-color: #fff
}
.head{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px outset white;
    box-shadow: 1px 1px 1px 1px grey;
    flex-direction: row;
    justify-content: space-between;
}
.btnmenu{
    display: none;
}
.nav{
    margin-left: 10%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.nav a{
    margin-top: 35px;
    margin-left: 20px;
    font-size: 18px;
    color: white;
}
.nav .crtbtn{
    margin-top: 30px;
}
.nav a:hover{
    text-decoration-line: none;
    margin-top: 35px;
    margin-left: 20px;
    font-size: 18px;
    color: skyblue;
}
.nav .user{
    margin-top: 31px;
    margin-left: 40px;
    font-size: 22px;
    color:bisque;
}
.head h1{
    margin-top: 27px;
    margin-left: 10%;
    font-size: 30px;
    color: skyblue;
    font-family: sans-serif;  font-family: "Lucida Console", "Courier New", monospace;

}

.res{
    border: 3px solid black;
    width: 80%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1%;
    box-shadow: 2px 3px 1px 4px black;
}
.res:hover{
    border: 3px outset white;
    width: 80%;
    padding: 1%;
    background-color: black;
    color: white;
}
.res:hover .q{
    border: 3px solid white;
    width: 90%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.q{
    border: 3px solid black;
    width: 90%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.vote{
    color: skyblue;
    background-color: black;
    border-radius: 20px;
    padding: 0.7%;
    width: 7%;
    border: 3px outset skyblue;
    box-shadow: 2px 4px 10px 2px black;
}
.vote:hover{
    color: skyblue;
    background-color: black;
    border-radius: 20px;
    padding: 0.7%;
    width: 7%;
    border: 3px outset skyblue;
    box-shadow: 2px 7px 20px 2px black;
}

.center{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    height: auto;
    padding: 2%;
    background-color: skyblue;
    
    box-shadow: 2px 5px 10px 4px black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translateX(-50%) translateY(-50%);
}
.center input{
    margin-left: 10%;
    font-size: 28px;
}
.text-danger{
    font-size: 30px;
}
.text-danger:hover{
    font-size: 35px;
    color: white;
}

.create{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    height: auto;
    padding: 0.5%;
    background-color: skyblue;
    box-shadow: 2px 5px 10px 4px black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translateX(-50%) translateY(-50%);
}
.create input{
    margin: 1%;
    border-radius: 20px;
    padding: 0.8%;
    box-shadow: 2px 3px 1px 2px black;
}
.create #ques{
    width: 70%;
    height: 100px;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 2px 3px 1px 2px black;
}

.ans{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    height: auto;
    padding: 2%;
    background-color: skyblue;
    
    box-shadow: 2px 5px 10px 4px black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translateX(-50%) translateY(-50%);
}
.ans input{
    margin-left: 10%;
    font-size: 28px;
}

.opts h5{
margin: 1%;
}
progress{
height: 20px;
padding-top: -1%;
}
.results{
display: flex;
flex-direction: row;
justify-content:space-evenly;
}
.results progress{
width: 50%;
margin-top: 0.8%;
margin-left: -15%;
}

@media only screen and (max-width:1082px){
    .head{
    width: 100%;
    height: 160px;
    background-color: black;
    color: white;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px outset white;
    box-shadow: 1px 1px 1px 1px grey;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.btnmenu{
    display:block;
    margin: 1%;
    margin-top: 4%;
    margin-left: 2%;
}
.nav{
    border-radius: 20px;
    color: black;
    position: fixed;
    top: 2%;
    left: -10%;
    border: 3px outset grey;
    width: auto;
    margin-top:10% ;
    background-color:black;
    padding: 5%;
    display: flex;
    box-shadow:  11px 12px 31px 11px grey;
    flex-direction: column-reverse;

}
.nav a{
    margin: 1%;
    font-size: 64px;
}
.nav .crtbtn{
    margin-top:0px;
    margin-left: -13%;
 }
.nav .user{
    margin:1%;
    margin-left: 0px;
    margin-bottom: 10%;
    font-size: 74px;
    color:skyblue;
}
.head h1{
    margin-top: 32px;
    margin-right: 25%;
    font-size: 80px;
    color: skyblue;
    font-family: sans-serif;  font-family: "Lucida Console", "Courier New", monospace;

}  

/* result...... */
.res{
    border: 3px solid black;
    width: 95%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1%;
    box-shadow: 2px 3px 1px 4px black;

}
.res h3{
    font-size: 45px;
}

.res h5{
    font-size: 25px;
}
.res:hover{
    border: 3px outset white;
    padding: 1%;
    width: 95%;
    background-color: black;
    color: white;
}
.res:hover .q{
    border: 3px solid white;
    width: 90%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.q{
    border: 3px solid black;
    width: 90%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.vote{
    color: skyblue;
    background-color: black;
    border-radius: 20px;
    padding: 1%;
    width: 10%;
    border: 3px outset skyblue;
    box-shadow: 2px 4px 10px 2px black;
}
/* .vote:hover{
    color: skyblue;
    background-color: black;
    border-radius: 20px;
    padding: 0.7%;
    width: 7%;
    border: 3px outset skyblue;
    box-shadow: 2px 7px 20px 2px black;
} */
.q h5{
    font-size: 20px;
}

.center{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 90%;
    height: auto;
    padding: 2%;
    background-color: skyblue;
    
    box-shadow: 2px 5px 10px 4px black;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transform: translateX(-50%) translateY(-50%);
}
.center h3{
    font-size: 40px;
}
.center input{
    margin-left: 10%;
    font-size: 28px;
    margin-top: 2%;
    width: 30px;
    height: 30px;
}
.center label{
    font-size: 30px;
}
.text-danger{
    font-size: 30px;
}
.text-danger:hover{
    font-size: 35px;
    color: white;
}
.center .vote{
    font-size: 50px;
}

.ans{
    position: fixed;
    left: 50%;
    top: 30%;
    width: 90%;
    height: auto;
    padding: 2%;
    background-color: skyblue;
    
    box-shadow: 2px 5px 10px 4px black;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transform: translateX(-50%) translateY(-50%);
} 
   .ans h3{
    font-size: 50px;
}

.ans h5{
    font-size: 40px;
}
.ans progress{
    height: 50px;
    margin-left: 1%;
}

.ans input{
    margin-left: 10%;
    font-size: 28px;
    margin-top: 2%;
    width: 30px;
    height: 30px;
}
.ans label{
    font-size: 30px;
}
.text-danger{
    font-size: 30px;
}
.text-danger:hover{
    font-size: 35px;
    color: white;
}
.ans .vote{
    font-size: 50px;
}

.create{
    position: fixed;
    left: 50%;
    top: 40%;
    width: 90%;
    height: auto;
    padding: 0.5%;
    background-color: skyblue;
    box-shadow: 2px 5px 10px 4px black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translateX(-50%) translateY(-50%);
}
.create input{
    margin: 1%;
    border-radius: 20px;
    padding: 0.8%;
    font-size: 50px;
    box-shadow: 2px 3px 1px 2px black;
}

.create #ques{
    width: 95%;
    height: 200px;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 20px;
    font-size: 50px;
    padding: 2%;
    box-shadow: 2px 3px 1px 2px black;
}

.create .crt{
    font-size: 50px;
}

.create .btn2{
    font-size: 50px;
}

}
